.hero2__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 70px;

    & h5 {
        color: #F75C4E;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

    & h3 {
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }

    & p {
        max-width: 395px;
        color: #575455;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
    }
}

.hero2__group {
    display: flex;
    gap: 103px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 110px;

    .group1 {
        display: flex;
        align-items: flex-start;
        gap: 24px;

        .min__group1 {

            & h4 {
                color: #070F18;
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                font-weight: 600;
                flex-shrink: 0;
                margin-bottom: 30px;
            }

            & p {
                max-width: 228px;
                color: #575455;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                flex-shrink: 0;
            }
        }
    }
}